html {
    font-size: 16px;
    background-color: #fdfdfd;
}
body {
    font-size: 16px;
    font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    color: #333333;
    padding: 0;
    margin: 0;
}
table {
    width: 100%;
    height: 100vh;
}
img {
    display: block;
    background-color: #333;
    border-radius: 10rem;
    max-height: 64px;
    margin: 16px auto 8px auto;
}
h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    font-size: 36px;
    font-weight: 700;
    font-family: franklin-gothic-urw,sans-serif;
    margin: 0 0 32px 0;
}
form {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 4px;;
    width: 350px;
    padding: 32px 40px;
    margin: 0 auto 16px auto;
}
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.9375rem;
    margin: 0 0 .5rem;
    padding: .75rem 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #fdfdfd;
    box-shadow: none;
    font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
}
input:focus {
    border-color: #33beff;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #cccccc;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cccccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #cccccc;
}
button {
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #33beff;
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0 0 0;

    -webkit-transition: background-color .1s ease-out,color .1s ease-out,border-color .1s ease-out;
    transition: background-color .1s ease-out,color .1s ease-out,border-color .1s ease-out;
}
button:hover {
    background-color: #05afff;
}
button[disabled], button[disabled]:hover {
    opacity: 0.25;
    cursor: not-allowed;
}
.help-text {
    line-height: 1.5;
    font-weight: 400;
    color: #8a8a8a;
    margin-top: 16px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0 none;
}

.message {
    position: fixed; top: 1rem; left: 0; right: 0;
    text-align: center;
}
.message .alert {
    text-align: left;
    color: #fff;
    padding: 1rem;
    margin: 0 auto;
    width: 300px;
}
.message .alert-danger {
    background-color: #ff423d;
}
.message .alert-success {
    background-color: #42C75D;
}
